@import "fonts";
@import "tags";

.translate-link {
  position: absolute;
  top: 3.25rem;
  right: 0;
  svg {
    fill: #aaa;
    height: calc(1.5rem + 2.2vw);
    width: calc(1.5rem + 2.2vw);
    &:hover {
      fill: #333333;
    }
  }
}

.title-container {
  margin: 2rem auto;
  max-width: 850px;
  .main-title {
    text-align: center;
    display: block;
    font-size: calc(1.4rem + 2.1vw);
    padding: 0 1rem;
    margin-bottom: 1rem;
  }
  .main-subtitle {
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    font-size: calc(0.85rem + 1.8vw);
    margin: 0 0 0 1rem;
  }
}

.chapters {
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  height: auto;
  margin-bottom: 2rem;
  .chapter-link {
    padding-right: 2rem;
    opacity: 0.52;
    p {
      color: #FFF;
      font-family: 'JetBrains Mono', monospace;
      text-transform: uppercase;
      font-size: 2rem;
      margin: 0;
    }
    h2 {
      text-transform: uppercase;
      font-size: 0.85rem;
      margin: 0;
    }
    &.active {
      opacity: 1;
    }
    &:hover {
      opacity: 1;
      h2, p {
        color: #E87800;
      }
    }
  }
  @media only screen and (max-width: 750px) {
    grid-template-columns: max-content max-content;
    .chapter-link:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }
  @media only screen and (max-width: 520px) {
    grid-template-columns: 100%;
  }
}

.nav-title {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  transform: translate(-50%, -50%);
  font-family: 'JetBrains Mono', monospace;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
  &:hover {
    color: #E87800;
  }
}

.hero {
  position: relative;
  min-height: 25rem;
  max-height: 40rem;
  width: 100%;
  max-width: 1512px;
  display: block;
  margin: auto;
  height: calc(100vw / 16 * 9);
  object-fit: cover;
}

.container {
  max-width: 850px;
  margin: auto;
  padding: 0 1rem;
}

.content {
  margin: 0 auto 3rem;
  padding: 0 1rem;
  p, ul, ol {
    max-width: 650px;
    margin: 0 auto 1.2rem;
  }
  h1, h2, h3, h4, h5, h6 {
    max-width: 650px;
    margin: 2rem auto 1rem;
    color: #FFF;
  }
  h2 {
    text-transform: uppercase;
    font-size: calc(1rem + 1.2vw);
    line-height: 1.4;
  }
  a {
    text-decoration: underline;
  }
  .no-underline {
    text-decoration: none;
  }
}

.h-card {
  display: grid;
  grid-template-columns: calc(40% - 0.5rem) calc(60% - 0.5rem);
  grid-gap: 1rem;
  margin-bottom: 3rem;
  transition: all 0.1s ease-in-out;
  .h-card-banner {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .h-card-summary-container {
    position: relative;
    .time {
      font-family: 'JetBrains Mono', monospace;
      text-transform: uppercase;
      margin: 0;
      font-size: 0.9rem;
    }
    .reading-time {
      margin: 0 0 0.8rem;
      font-size: 0.9rem;
    }
    .summary {
      margin: 0;
      font-size: 0.9rem;
    }
    h2 {
      text-transform: uppercase;
      margin: 0.25rem 0;
      font-size: 1.3rem;
      overflow-wrap: break-word;
    }
    .read-more {
      display: inline-block;
      font-family: 'JetBrains Mono', monospace;
      text-transform: uppercase;
      margin-top: 1rem;
    }
  }
  &:hover {
    transform: scale(1.02, 1.02);
    p, span, h2 {
      color: #E87800;
    }
  }
  &:last-of-type {
    margin-bottom: 1rem;
  }
  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;
    margin-bottom: 4rem;
  }
}

.row {
  max-width: 850px;
  margin: 2rem auto;
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  flex-flow: row wrap;
  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;
  }
}

.bottom-nav {
  height: 100%;
  h2 {
    font-family: 'JetBrains Mono', monospace;
    text-transform: uppercase;
  }
  .bottom-grid {
    display: grid;
    grid-template-columns: calc(50% - 0.5rem) calc(50% - 0.5rem);
    grid-gap: 1rem;
    @media only screen and (max-width: 500px) {
      grid-template-columns: 100%;
    }
  }
  .h-card {
    display: block;
    .h-card-banner {
      display: block;
      height: 10rem;
      margin-bottom: 1rem;
    }
    .read-more {
      position: absolute;
      bottom: -2rem;
    }
  }
}

.footer-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  h2 {
    font-size: 1rem;
    margin: 0;
  }
  p {
    font-size: 2rem;
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
  }
}

.song-container {
  max-width: 650px;
  margin: 1rem auto;
  button {
    height: 80px;
    margin: calc(3.64px / 2) 0;
    width: 100%;
    border-radius: 12px;
    cursor: pointer;
    border: 1px #fff solid;
    background-color: transparent;
    color: #FFFFFF;
    padding: 0;
    .cookie-button-title {
      display: block;
      font-family: 'JetBrains Mono', monospace;
      text-transform: uppercase;
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
    .cookie-button-description {
      font-family: 'Inter', sans-serif;
      font-size: 0.85rem;
    }
    &:hover {
      color: #E87800;
      border-color: #E87800;
    }
  }
}

.disable-cookies {
  max-width: 650px;
  margin: 1rem auto;
  button {
    cursor: pointer;
    border-radius: 12px;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 0.85rem;
    color: #FFFFFF;
    border: 1px #fff solid;
    padding: 0.5rem;
    &:hover {
      color: #E87800;
      border-color: #E87800;
    }
  }
}