@import "fonts";
@import "tags";
@import "single";

.chapters {
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  height: auto;
  margin-bottom: 2rem;
  .chapter-link {
    padding-right: 2rem;
    opacity: 0.52;
    p {
      color: #FFF;
      font-family: 'Avenir Next Condensed', monospace;
      text-transform: uppercase;
      font-size: 2rem;
      margin: 0;
    }
    h2 {
      text-transform: uppercase;
      font-size: 0.85rem;
      margin: 0;
    }
    &.active {
      opacity: 1;
    }
    &:hover {
      opacity: 1;
      h2, p {
        color: #E87800;
      }
    }
  }
  @media only screen and (max-width: 750px) {
    grid-template-columns: max-content max-content;
    .chapter-link:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }
  @media only screen and (max-width: 520px) {
    grid-template-columns: 100%;
  }
}

.nav-title {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  transform: translate(-50%, -50%);
  font-family: 'Avenir Next Condensed', monospace;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
  &:hover {
    color: #E87800;
  }
}

.h-card {
  display: grid;
  grid-template-columns: calc(40% - 0.5rem) calc(60% - 0.5rem);
  grid-gap: 1rem;
  margin-bottom: 3rem;
  transition: all 0.1s ease-in-out;
  .h-card-banner {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .h-card-summary-container {
    position: relative;
    .time {
      font-family: 'Avenir Next Condensed', monospace;
      text-transform: uppercase;
      margin: 0;
      font-size: 0.9rem;
    }
    .reading-time {
      margin: 0 0 0.8rem;
      font-size: 0.9rem;
    }
    .summary {
      margin: 0;
      font-size: 0.9rem;
    }
    h2 {
      text-transform: uppercase;
      margin: 0.25rem 0;
      font-size: 1.3rem;
      overflow-wrap: break-word;
    }
    .read-more {
      display: inline-block;
      font-family: 'Avenir Next Condensed', monospace;
      text-transform: uppercase;
      margin-top: 1rem;
    }
  }
  &:hover {
    transform: scale(1.02, 1.02);
    p, span, h2 {
      color: #E87800;
    }
  }
  &:last-of-type {
    margin-bottom: 1rem;
  }
  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;
    margin-bottom: 4rem;
  }
}

.row {
  max-width: 850px;
  margin: 2rem auto;
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  flex-flow: row wrap;
  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;
  }
}

.bottom-nav {
  height: 100%;
  h2 {
    font-family: 'Avenir Next Condensed', monospace;
    text-transform: uppercase;
  }
  .bottom-grid {
    display: grid;
    grid-template-columns: calc(50% - 0.5rem) calc(50% - 0.5rem);
    grid-gap: 1rem;
    @media only screen and (max-width: 500px) {
      grid-template-columns: 100%;
    }
  }
  .h-card {
    display: block;
    .h-card-banner {
      display: block;
      height: 10rem;
      margin-bottom: 1rem;
    }
    .read-more {
      position: absolute;
      bottom: -2rem;
    }
  }
}

.footer-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  h2 {
    font-size: 1rem;
    margin: 0;
  }
  p {
    font-size: 2rem;
    font-family: 'Avenir Next Condensed', monospace;
    margin: 0;
  }
}

.song-container {
  max-width: 650px;
  margin: 1rem auto;
  button {
    height: 80px;
    margin: calc(3.64px / 2) 0;
    width: 100%;
    border-radius: 12px;
    cursor: pointer;
    border: 1px #fff solid;
    background-color: transparent;
    color: #FFFFFF;
    padding: 0;
    .cookie-button-title {
      display: block;
      font-family: 'Avenir Next Condensed', monospace;
      text-transform: uppercase;
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
    .cookie-button-description {
      font-family: 'Inter', sans-serif;
      font-size: 0.85rem;
    }
    &:hover {
      color: #E87800;
      border-color: #E87800;
    }
  }
}

.disable-cookies {
  max-width: 650px;
  margin: 1rem auto;
  button {
    cursor: pointer;
    border-radius: 12px;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 0.85rem;
    color: #FFFFFF;
    border: 1px #fff solid;
    padding: 0.5rem;
    &:hover {
      color: #E87800;
      border-color: #E87800;
    }
  }
}

.pagination-container {
  margin-top: 4rem;
  .pagination {
    display: flex;
    justify-content: center;
    padding: 0;
    .page-item {
      list-style-type: none;
      a {
        padding: 0.5rem 1rem;
        border: 1px solid #FFFFFF;
      }
      &.active {
        a {
          background-color: #FFFFFF;
          color: #333333;
        }
      }
      &.disabled {
        a {
          opacity: 0.52;
        }
      }
      &:not(.active):not(.disabled):hover {
        a {
          background-color: #E87800;
        }
      }
      &:first-of-type {
        a {
          border-radius: 0.5rem 0 0 0.5rem;
        }
      }
      &:last-of-type {
        a {
          border-radius: 0 0.5rem 0.5rem 0;
        }
      }
    }
  }
}