<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <base href="{{ $.Site.BaseURL }}">
  <title>{{ .Title }} - {{ $.Site.Title }}</title>
  
  <meta property="og:title" content="{{ $.Site.Title }} - {{ .Title }}" />
  <meta name="description" content="Mies lännestä kertoo elämästä Thaimassa.">
  <meta property="og:description" content="Mies lännestä kertoo elämästä Thaimassa.">

  {{ $style := resources.Get "scss/index.scss" | resources.ToCSS }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />

  <link rel="alternate"
        type="application/rss+xml"
        href="https://mieslännestä.fi/index.xml"
        title="{{ .Site.Title }}">

</head>

<body>
    {{ block "header" . }}{{ partial "header" . }}{{end}}
  
    {{ block "main" . }}{{end}}
  
    {{ block "footer" . }}{{ partial "footer" . }}{{end}}
</body>

</html>
