{{ define "main" }} {{ $section := .Site.GetPage "section" .Section }}

<main>
    <div class="content">
        {{ with .Params.song }}
            {{ block "song-of-the-day" . }}{{ partial "song-of-the-day" . }}{{end}}
        {{ end }}
        {{ if .Params.weather }}
            {{ $weatherData := .Params.weather }}
            {{ $weatherWithContext := dict "weather" $weatherData "filePath" .File.Path }}
            {{ block "weather" $weatherWithContext }}
                {{ partial "weather" . }}
            {{end}} 
        {{ end }}
        <article>
            {{- .Content -}}
        </article>
    </div>
</main>

{{ block "bottom-nav" . }}{{ partial "bottom-nav" . }}{{end}}

{{ end }}
