<a class="blog-summary-container no-underline" href="{{ .RelPermalink }}">
  <div class="inner-blog-summary-container">
    <h3>{{ .Title }}</h3>
    <p>
      <strong>{{ .Date.Format " 2.1.2006"}}</strong>
    </p>
    {{ if .Params.banner }}
    {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .Params.banner) }}
    {{ $resizedBanner := $imageResource.Resize "370x q80"}}
    <div class="blog-summary-banner" style='background-image: url("{{ $resizedBanner.RelPermalink }}")'></div>
    {{ end }}
    <p class="summary">{{ .Summary }}</p>
    <span class="read-more"><strong>Lisää&nbsp;→</strong></span>
  </div>
</a>
