{{ if .Params.banner }}

    {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .Params.banner) }}

    {{ $resizedHero2560 := $imageResource.Resize "2560x q90 webp"}}
    {{ $resizedHero1920 := $imageResource.Resize "1920x q90 webp"}}
    {{ $resizedHero1280 := $imageResource.Resize "1280x q90 webp"}}
    {{ $resizedHero768 := $imageResource.Resize "768x q90 webp"}}
    {{ $resizedHero512 := $imageResource.Resize "512x q90 webp"}}

    <header>
        {{ block "top-nav" . }}{{ partial "top-nav" . }}{{end}}
        {{ if not .Params.useNavHeadline }}
            <div class="title-container">
                <h1 class="main-title">{{ .Title }}</h1>
                {{ if .Params.date }}
                    <a href="https://translate.google.com/translate?hl=&sl=fi&tl=en&u=https://xn--mieslnnest-u5af.fi{{ .RelPermalink }}">
                        <p class="main-subtitle">
                            {{ time.Format "Monday 2. January 2006" .Params.date}}
                        </p>
                    </a>
                {{ else }}
                    <p class="main-subtitle">
                        <strong>
                            {{ .Params.subtitle }}
                        </strong>
                    </p>
                {{ end }}
            </div>
        {{ end }}
        <a href="{{$resizedHero2560.RelPermalink}}" aria-label="Täysikokoinen kuva">
            <img class="hero"
             src="{{ $resizedHero512.RelPermalink }}"
             srcset="{{ $resizedHero512.RelPermalink }} 512w,
                     {{ $resizedHero768.RelPermalink }} 768w,
                     {{ $resizedHero1280.RelPermalink }} 1280w,
                     {{ $resizedHero1920.RelPermalink }} 1920w,
                     {{ $resizedHero2560.RelPermalink }} 2560w"
             aria-hidden="true"
             alt="">
        </a>
    </header>
{{ end }}