@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";

body {
  color: #333;
  background-color: #ffffff;
  font-family: sans-serif;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: #333;
  &:hover {
    color: #00d8d8;
  }
}

figure {
  margin: 2rem 0 2rem 0;
  img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    max-height: 20rem;
    border-radius: 2px;
  }
  figcaption {
    margin-top: 1rem;
    font-weight: bold;
    text-align: center;
  }
}

.blog-summary-container {
  margin-bottom: 4rem;
}

.content {
  max-width: 768px;
  margin: 4rem auto;
  a {
    text-decoration: underline;
  }
}

.main-title {
  text-align: center;
}

.main-subtitle {
  text-align: center;
  margin-bottom: 4rem;
}

.next-prev-links {
  margin-top: 4rem;
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
}

.back-to-list {
  margin-top: 2rem;
  text-align: center;
}

