{{ define "main" }}

<div class="container">
  <h1 class="main-title">Lännen mies</h1>
  <p class="main-subtitle">Pohjois-Bangkokin ainoan länsimaalaisen kertomuksia</p>
  <div class="row">
    {{ range ((.Data.Pages).ByParam "date").Reverse }}
    <a class="col-md-4 blog-summary-container" href="{{ .RelPermalink }}">
      <strong>{{ .Date.Format " 2.1.2006"}}</strong>
      <p>{{ .Title }}</p>
      <p>{{ .Summary }}</p>
      <span class="read-more">Lisää -></span>
    </a>
    {{ end }}
  </div>
</div>

{{ end }}
