{{ define "main" }}

{{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .Params.hero) }}
{{ $resizedHero := $imageResource.Resize "960x q80"}}

<div class="main-title-container">
  <h1 class="main-title">Lännen mies</h1>
  <p class="main-subtitle">Pohjois-Bangkokin ainoan länsimaalaisen kertomuksia</p>
</div>
<div class="hero" style='background-image: url("{{ $resizedHero.RelPermalink }}")'>
</div>
<div class="content">
  <h2>Kertomukset</h2>
  <div class="row">
    {{ range ((.Data.Pages).ByParam "date").Reverse }}
      {{ block "card" . }}{{ partial "card" . }}{{end}}
    {{ end }}
  </div>
</div>

{{ end }}
