{{ $images := split (.Get "src") ";" }}
<div class="row">
{{ range $images }}
  {{ $arg := split . ":" }}
  {{ $image := index $arg 0 }}
  {{ $label := index $arg 1 }}
  {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" $image) }}
  {{ if $imageResource }}
    {{ $resized2560 := $imageResource.Resize "2560x q80 webp"}}
    {{ $resized1920 := $imageResource.Resize "1920x q80 webp"}}
    {{ $resized1440 := $imageResource.Resize "1440x q80 webp"}}
    {{ $resized1280 := $imageResource.Resize "1280x q80 webp"}}
    {{ $resized768 := $imageResource.Resize "768x q80 webp"}}
    {{ $resized512 := $imageResource.Resize "512x q80 webp"}}
    {{ $resized360 := $imageResource.Resize "360x q80 webp"}}
    <a href="{{ $resized2560.RelPermalink }}" class="no-underline">
      <figure>
        <img
          class="blog-picture"
          srcset="{{ $resized360.RelPermalink }} 360w,
           {{ $resized512.RelPermalink }} 512w,
           {{ $resized768.RelPermalink }} 768w,
           {{ $resized1280.RelPermalink }} 1280w,
           {{ $resized1440.RelPermalink }} 1440w,
           {{ $resized1920.RelPermalink }} 1920w,
           {{ $resized2560.RelPermalink }} 2560w"
          src="{{ $resized768.RelPermalink }}"
          {{ with $label }}alt="{{ $label }}"{{ else }}alt=""{{ end }}
        >
        {{ with $label }}<figcaption>{{ $label }}</figcaption>{{ end }}
      </figure>
    </a>
  {{ else }}
    {{ errorf "Image resource not found: %s (Called from: %s)" $image $.Position }}
  {{ end }}
{{ end }}
</div>